<form id="the-form" method="POST" >
  {% for field in form %}        
        {% if field.id != 'csrf_token' %}
          <div class="formline row">
              <span class="label">{{ field.label }}</span> 
              <span class="input">{{ field|escape }}</span>
          </div>
          {% if field.errors %}
            <ul class="errors">
              {% for error in field.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}        
        {% endif %}    
    {% endfor %}   
    <div class="formline row">
        <label></label>
    {{ form.csrf_token }}
  {% if submit_label %}
    <input style="max-width:255px;width:255px;" type="submit" class="btn btn-primary" value="{{ submit_label }}"/>
  {% else %}
    <input style="max-width:255px;width:255px;" type="submit" class="btn btn-primary" value="Submit"/>
  {% endif %}
  </div>
</form>
